@mixin rounded-border() {
  border: solid 0.1em $color-border;
  -webkit-border-radius: $border-radius;
     -moz-border-radius: $border-radius;
      -ms-border-radius: $border-radius;
          border-radius: $border-radius;
}

@mixin hover-icon() {
  span.icon-hover {
    @include animate(roll-out);
    display: none;
  }

  &:hover {
    span.icon {
      display: none;
    }

    span.icon-hover {
      @include animate(roll-in);
      display: inline-block;
    }
  }
}

@mixin animate($name) {
  animation: $name 0.5s;
}

@mixin completed-blink($color) {
  $blink-color: scale-color(darken($color, 20%), $green: 80%);

  &.completed {
    @-webkit-keyframes blinker {
      from {background-color: $color; }
      to { background-color: $blink-color; }
    }

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-direction: alternate;
  }
}
