@mixin rounded-border() {
  border: solid 0.1em $color-border;
  -webkit-border-radius: $border-radius;
     -moz-border-radius: $border-radius;
      -ms-border-radius: $border-radius;
          border-radius: $border-radius;
}

@mixin hover-icon() {
  span.icon-hover {
    @include animate(roll-out);
    display: none;
  }

  &:hover {
    span.icon {
      display: none;
    }

    span.icon-hover {
      @include animate(roll-in);
      display: inline-block;
    }
  }
}

@mixin animate($name) {
  animation: $name 0.5s;
}
