@import 'variables';
@import 'animations';
@import 'mixins';

body, html {
  font:  $font-base;
  color: $color-base;
}

#main-container {
  @include rounded-border;

  padding: 1em 0.5em 0;
  margin: 1em;
  display: block;
  width: 16em;
  text-align: center;
  background-color: $color-background;
}

#github-link {
  padding: 2em 0 0.5em;
  font: $font-link;

  a {
    padding: 0 4px 12px;
    display: inline-block;
    vertical-align: middle;
  }
}

.timer {
  @include animate(slide-in);
  animation: slide-in 1s;

  &::before {
    @include animate(slide-in);
    animation: slide-in 1s;
  }

  display: block;
  padding-bottom: 0.8em;
  margin-top: 0.8em;
  border-bottom: solid 0.1em $color-border;

  .input-group {
    display: block;

    input {
      @include rounded-border;

      background-color: $color-input;
      display: inline-block;
      text-align: center;
      font: $font-input;
      margin: 0.2em 0.4em;
      width: 3em;
    }
  }
}

.btn {
  @include hover-icon;
  @include rounded-border;

  background-color: $color-btn-add;
  border-color: $color-btn-add-border;

  &:hover {
    background-color: darken($color-btn-add, 20%);
    border-color: darken($color-btn-add-border, 30%);
    color: white;
  }

  &.btn-adjust {
    width: 4em;
    height: 1.9em;
    margin: 0.2em 1em;
    padding-top: 0.3em;
  }

  &.btn-player {
    @extend %btn-text;

    width: 7em;
    height: 2.5em;
    margin: 1.2em 1em 0;
  }

  &.btn-add {
    @extend %btn-text;

    width: 16em;
    height: 3em;
    margin-top: 2em;
  }

  &.btn-remove {
    @extend %btn-text;

    width: 16em;
    height: 3em;
    margin-top: 1em;
  }
}

%btn-text {
  span.text {
    display: inline-block;
    vertical-align: top;
    padding-left: 0.4em;
    font-size: 1.5em;
  }
}
